﻿@{
	ViewBag.Title = "MiSiM";
}

<div class="container">
	<h1>MiSiM</h1>
	<h3 style="color:#828282"><em>To nejchutnější jídlo přímo k Vám domů!</em></h3>
</div>
<hr>
<div class="container">
	<div class=""></div>
    <div class="row">
        <div class="one-half column">
            <h4>Novinky</h4>
            <p>Spuštění WEBU MISIM.</p>
        </div>
        <div class="one-half column">
            <h4>O nás</h4>
            <p>Jsme malá rodinná společnost milující jídlo a jeho přípravu. Náše historie sahá do roku 2011, kdy jsme začali provozovat rozvoz jídel po okolí. K dnešnímu dni, již si na našich pokrmech pochutnalo více jak 10 000 strávníků a doufáme, že vy budete dalším z nich. Dobrou chuť!</p>
        </div>
    </div>

     <div class="row">
     </div>
	</div>