﻿@using MiSiM.Models
@model Food
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h3 class="u-pull-left">@Model.Nazev</h3>
	<button onclick="history.back(-1)" class="u-pull-right">Zpet</button>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="two-thirds column">
			<img class="responsive" src="images/imgplaceholder.jpg">
		</div>
		<div class="one-third column">
			<h5>Cena: <strong>@Model.Cena</strong></h5>

			<h5>Hmotnost: @Model.Hmotnost<h5>
			<button style="margin-top:5rem">Pridat do kosiku</button>
		</div>
	</div>
	<div style="margin-top:5rem;">
		<h4>Popis</h4>
		<p>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis facilisis erat, eu tempus ante molestie dapibus. Cras gravida blandit odio. Aenean eu arcu sit amet lorem mollis rhoncus nec nec ipsum. Cras id commodo mauris. Aliquam tempor justo
			sit amet condimentum tempor. Aenean ullamcorper condimentum leo non dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus fermentum justo quis fringilla dapibus. Morbi posuere metus
			sed nibh accumsan fringilla. Ut ac rhoncus odio. Nam gravida, nisi vulputate laoreet maximus, sem nunc porttitor eros, et iaculis tellus enim nec odio. In sed turpis cursus risus cursus vulputate vel ut tortor. Proin mattis massa leo.
			Sed nec leo tristique, hendrerit magna vel, auctor orci. Morbi ut maximus tellus. Aliquam ultricies, lorem eget luctus lobortis, massa felis laoreet quam, commodo fermentum est nisi non metus. Vestibulum in tellus et urna aliquam vestibulum
			non ut diam. Ut varius quam eu ullamcorper rutrum. Sed libero nisi, sodales posuere elit at, efficitur pretium tellus. Aliquam nec eros vitae mauris porta lacinia eu quis enim. Ut eu consequat sem. Morbi scelerisque fermentum convallis.
			Suspendisse lobortis sapien ut eros mollis, et malesuada augue feugiat. Pellentesque blandit tellus at elit sodales, vitae consectetur nisl imperdiet. Cras placerat lectus odio, non porttitor neque auctor eu. Vivamus turpis purus,
			ultricies ut arcu eu, bibendum maximus metus. Sed pellentesque elementum purus, quis lobortis nisl dictum a.
		</p>
	</div>
</div>