﻿@using MiSiM.Models
@model List<Food>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MiSiM";
}
<div class="container">
    <h3>Menu</h3>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="two columns">
            <h5>Kategorie</h5>
            <select style="width:100%">
                <option>A</option>
                <option>A</option>
                <option>A</option>
                <option>A</option>
            </select>
        </div>
        <div class="one columns">
        </div>
    </div>
</div>

<div class="container foodMenu">
    @foreach (Food a in Model)
    {

        <a href="@Url.Action( "Details","Food",new {id = @a.Id } )" class="foodCard">
            <div class="foodImg">
                <img src="~/images/imgplaceholder.jpg">
            </div>
            <div class="foodDesc">
                <h5>@a.Nazev</h5>
                <h6>@a.Cena</h6>
            </div>
        </a>
    };
</div>