/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    min-height: 100vh;
    background-color: #FAFAFA;
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

h5,
h6 {
    margin: 0;
}

a {
    color: black;
}

p {
    color: #333333;
}

button {
    background-color: #fff;
}

.white {
    color: #FAFAFA;
}

.wrapper {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    min-height: 94vh;
}

.container:first-of-type {
    margin-top: 10rem;
}

.nav {
    z-index: 50;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    background-color: #f34f40;
    border-bottom: 1px solid #999999;
    font-weight: 600;
}

.navBg {
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0 2rem;
    display: none;
    list-style: none;
    align-items: center;
    height: 100%;
}

@media (max-width:480px) {
    .nav ul.responsive {
        z-index: 50;
        /*position: relative;*/
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: none;
        background-color: #f34f40;
        width: 100%;
        height: 200%;
    }
}

.nav li {
    margin: 0.5rem 1rem;
}

.nav a {
    text-decoration: none;
    font-size:1.1em;
}

.nav a:hover {
    color: black;
    transition: all 1s;
}

.nav a:after {
    display: block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav a:hover:after {
    transform: scaleX(1);
}

#menuIco {
    display: block;
    margin-right: 1rem;
    height: 100%;
    cursor: pointer;
}

#logo {
    height: 4rem;
    margin-left: 1rem;
    border-radius: 50%;
    display: block;
}

@media (min-width:480px) {
    .nav ul {
        display: inline-flex;
    }
    #menuIco {
        display: none;
    }
}

@media (min-width:1000px) {
    .nav {
        background-color: initial;
    }
    .nav a {
        color: #000;
    }
    .navBg {
        background-image: url("../images/Rectangle.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left top;
        background-color: #fff;
    }
}

img.responsive {
    width: 100%;
    max-width: 100%;
}

/* .nav a.fromRight:after{ transform-origin:100% 50%; }
  .nav a.fromLeft:after{  transform-origin:  0% 50%; }*/

.foodMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    margin-bottom: 2rem;
}

.foodCard {
    /*padding: 0.5rem;*/
    margin: 0.05rem 0.1%;
    border: 0.05rem solid #828282;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    flex-basis: 46%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s;
    text-decoration: none;
}

.foodCard:hover {
    box-shadow: 0px 1px 5px #828282;
    transition: all 0.5s;
    color: #000;
    /*color: rgb(237, 14, 0);*/
}

.foodCard:first-child,
.foodCard:nth-child(2) {
    flex-basis: 46%;
}

@media (min-width: 550px) {
    .foodCard {
        flex-basis: 17%;
    }
}

.foodImg img {
    max-width: 100%;
    max-height: 20rem;
}

.foodDesc {
    margin-top: auto;
    text-align: center;
}

footer {
    color: #fff;
    border-top: 1px solid #999999;
    position: relative;
    bottom: 0;
    left: 0;
    min-height: 6vh;
    width: 100%;
    background-color: #333333;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}